.related-inquiry-actions {
  display: inline-flex;
  align-items: flex-end;
  gap: 0.5rem;
}

.related-inquiry-actions lightning-input {
  width: 12rem;
}

.input-section-header {
  padding: 0 0.75rem;
  margin-bottom: 0.25rem;
  font-weight: 600;
}

