@import 'c/f003GsV0000CommonCss';

.related-inquiry-actions {
    display: flex;
    align-items: flex-end;
    gap: 0.5rem;
}

.related-inquiry-actions lightning-input {
    width: 18rem;
}

.related-inquiry-actions lightning-button {
    margin-bottom: 0.25rem;
}

.input-section-header {
    padding: 0 0.75rem;
    margin-bottom: 0.25rem;
    font-weight: 600;
}
